$primary-color__dim--darkest: get-tone($primary-color, dim, darkest);
$primary-color__dim--darker: get-tone($primary-color, dim, darker);
$primary-color__dim--dark: get-tone($primary-color, dim, dark);
$primary-color__dim: get-tone($primary-color, dim);
$primary-color__dim--light: get-tone($primary-color, dim, light);
$primary-color__dim--lighter: get-tone($primary-color, dim, lighter);
$primary-color__dim--lightest: get-tone($primary-color, dim, lightest);
$primary-color__bright--darkest: get-tone($primary-color, bright, darkest);
$primary-color__bright--darker: get-tone($primary-color, bright, darker);
$primary-color__bright--dark: get-tone($primary-color, bright, dark);
$primary-color__bright: get-tone($primary-color, bright);
$primary-color__bright--light: get-tone($primary-color, bright, light);
$primary-color__bright--lighter: get-tone($primary-color, bright, lighter);
$primary-color__bright--lightest: get-tone($primary-color, bright, lightest);
$secondary-color__dim--darkest: get-tone($secondary-color, dim, darkest);
$secondary-color__dim--darker: get-tone($secondary-color, dim, darker);
$secondary-color__dim--dark: get-tone($secondary-color, dim, dark);
$secondary-color__dim: get-tone($secondary-color, dim);
$secondary-color__dim--light: get-tone($secondary-color, dim, light);
$secondary-color__dim--lighter: get-tone($secondary-color, dim, lighter);
$secondary-color__dim--lightest: get-tone($secondary-color, dim, lightest);
$secondary-color__bright--darkest: get-tone($secondary-color, bright, darkest);
$secondary-color__bright--darker: get-tone($secondary-color, bright, darker);
$secondary-color__bright--dark: get-tone($secondary-color, bright, dark);
$secondary-color__bright: get-tone($secondary-color, bright);
$secondary-color__bright--light: get-tone($secondary-color, bright, light);
$secondary-color__bright--lighter: get-tone($secondary-color, bright, lighter);
$secondary-color__bright--lightest: get-tone($secondary-color, bright, lightest);
$tertiary-color__dim--darkest: get-tone($tertiary-color, dim, darkest);
$tertiary-color__dim--darker: get-tone($tertiary-color, dim, darker);
$tertiary-color__dim--dark: get-tone($tertiary-color, dim, dark);
$tertiary-color__dim: get-tone($tertiary-color, dim);
$tertiary-color__dim--light: get-tone($tertiary-color, dim, light);
$tertiary-color__dim--lighter: get-tone($tertiary-color, dim, lighter);
$tertiary-color__dim--lightest: get-tone($tertiary-color, dim, lightest);
$tertiary-color__bright--darkest: get-tone($tertiary-color, bright, darkest);
$tertiary-color__bright--darker: get-tone($tertiary-color, bright, darker);
$tertiary-color__bright--dark: get-tone($tertiary-color, bright, dark);
$tertiary-color__bright: get-tone($tertiary-color, bright);
$tertiary-color__bright--light: get-tone($tertiary-color, bright, light);
$tertiary-color__bright--lighter: get-tone($tertiary-color, bright, lighter);
$tertiary-color__bright--lightest: get-tone($tertiary-color, bright, lightest);
$quaternary-color__dim--darkest: get-tone($quaternary-color, dim, darkest);
$quaternary-color__dim--darker: get-tone($quaternary-color, dim, darker);
$quaternary-color__dim--dark: get-tone($quaternary-color, dim, dark);
$quaternary-color__dim: get-tone($quaternary-color, dim);
$quaternary-color__dim--light: get-tone($quaternary-color, dim, light);
$quaternary-color__dim--lighter: get-tone($quaternary-color, dim, lighter);
$quaternary-color__dim--lightest: get-tone($quaternary-color, dim, lightest);
$quaternary-color__bright--darkest: get-tone($quaternary-color, bright, darkest);
$quaternary-color__bright--darker: get-tone($quaternary-color, bright, darker);
$quaternary-color__bright--dark: get-tone($quaternary-color, bright, dark);
$quaternary-color__bright: get-tone($quaternary-color, bright);
$quaternary-color__bright--light: get-tone($quaternary-color, bright, light);
$quaternary-color__bright--lighter: get-tone($quaternary-color, bright, lighter);
$quaternary-color__bright--lightest: get-tone($quaternary-color, bright, lightest);
$quinary-color__dim--darkest: get-tone($quinary-color, dim, darkest);
$quinary-color__dim--darker: get-tone($quinary-color, dim, darker);
$quinary-color__dim--dark: get-tone($quinary-color, dim, dark);
$quinary-color__dim: get-tone($quinary-color, dim);
$quinary-color__dim--light: get-tone($quinary-color, dim, light);
$quinary-color__dim--lighter: get-tone($quinary-color, dim, lighter);
$quinary-color__dim--lightest: get-tone($quinary-color, dim, lightest);
$quinary-color__bright--darkest: get-tone($quinary-color, bright, darkest);
$quinary-color__bright--darker: get-tone($quinary-color, bright, darker);
$quinary-color__bright--dark: get-tone($quinary-color, bright, dark);
$quinary-color__bright: get-tone($quinary-color, bright);
$quinary-color__bright--light: get-tone($quinary-color, bright, light);
$quinary-color__bright--lighter: get-tone($quinary-color, bright, lighter);
$quinary-color__bright--lightest: get-tone($quinary-color, bright, lightest);
$senary-color__dim--darkest: get-tone($senary-color, dim, darkest);
$senary-color__dim--darker: get-tone($senary-color, dim, darker);
$senary-color__dim--dark: get-tone($senary-color, dim, dark);
$senary-color__dim: get-tone($senary-color, dim);
$senary-color__dim--light: get-tone($senary-color, dim, light);
$senary-color__dim--lighter: get-tone($senary-color, dim, lighter);
$senary-color__dim--lightest: get-tone($senary-color, dim, lightest);
$senary-color__bright--darkest: get-tone($senary-color, bright, darkest);
$senary-color__bright--darker: get-tone($senary-color, bright, darker);
$senary-color__bright--dark: get-tone($senary-color, bright, dark);
$senary-color__bright: get-tone($senary-color, bright);
$senary-color__bright--light: get-tone($senary-color, bright, light);
$senary-color__bright--lighter: get-tone($senary-color, bright, lighter);
$senary-color__bright--lightest: get-tone($senary-color, bright, lightest);
$septenary-color__dim--darkest: get-tone($septenary-color, dim, darkest);
$septenary-color__dim--darker: get-tone($septenary-color, dim, darker);
$septenary-color__dim--dark: get-tone($septenary-color, dim, dark);
$septenary-color__dim: get-tone($septenary-color, dim);
$septenary-color__dim--light: get-tone($septenary-color, dim, light);
$septenary-color__dim--lighter: get-tone($septenary-color, dim, lighter);
$septenary-color__dim--lightest: get-tone($septenary-color, dim, lightest);
$septenary-color__bright--darkest: get-tone($septenary-color, bright, darkest);
$septenary-color__bright--darker: get-tone($septenary-color, bright, darker);
$septenary-color__bright--dark: get-tone($septenary-color, bright, dark);
$septenary-color__bright: get-tone($septenary-color, bright);
$septenary-color__bright--light: get-tone($septenary-color, bright, light);
$septenary-color__bright--lighter: get-tone($septenary-color, bright, lighter);
$septenary-color__bright--lightest: get-tone($septenary-color, bright, lightest);
$octonary-color__dim--darkest: get-tone($octonary-color, dim, darkest);
$octonary-color__dim--darker: get-tone($octonary-color, dim, darker);
$octonary-color__dim--dark: get-tone($octonary-color, dim, dark);
$octonary-color__dim: get-tone($octonary-color, dim);
$octonary-color__dim--light: get-tone($octonary-color, dim, light);
$octonary-color__dim--lighter: get-tone($octonary-color, dim, lighter);
$octonary-color__dim--lightest: get-tone($octonary-color, dim, lightest);
$octonary-color__bright--darkest: get-tone($octonary-color, bright, darkest);
$octonary-color__bright--darker: get-tone($octonary-color, bright, darker);
$octonary-color__bright--dark: get-tone($octonary-color, bright, dark);
$octonary-color__bright: get-tone($octonary-color, bright);
$octonary-color__bright--light: get-tone($octonary-color, bright, light);
$octonary-color__bright--lighter: get-tone($octonary-color, bright, lighter);
$octonary-color__bright--lightest: get-tone($octonary-color, bright, lightest);
$nonary-color__dim--darkest: get-tone($nonary-color, dim, darkest);
$nonary-color__dim--darker: get-tone($nonary-color, dim, darker);
$nonary-color__dim--dark: get-tone($nonary-color, dim, dark);
$nonary-color__dim: get-tone($nonary-color, dim);
$nonary-color__dim--light: get-tone($nonary-color, dim, light);
$nonary-color__dim--lighter: get-tone($nonary-color, dim, lighter);
$nonary-color__dim--lightest: get-tone($nonary-color, dim, lightest);
$nonary-color__bright--darkest: get-tone($nonary-color, bright, darkest);
$nonary-color__bright--darker: get-tone($nonary-color, bright, darker);
$nonary-color__bright--dark: get-tone($nonary-color, bright, dark);
$nonary-color__bright: get-tone($nonary-color, bright);
$nonary-color__bright--light: get-tone($nonary-color, bright, light);
$nonary-color__bright--lighter: get-tone($nonary-color, bright, lighter);
$nonary-color__bright--lightest: get-tone($nonary-color, bright, lightest);
$denary-color__dim--darkest: get-tone($denary-color, dim, darkest);
$denary-color__dim--darker: get-tone($denary-color, dim, darker);
$denary-color__dim--dark: get-tone($denary-color, dim, dark);
$denary-color__dim: get-tone($denary-color, dim);
$denary-color__dim--light: get-tone($denary-color, dim, light);
$denary-color__dim--lighter: get-tone($denary-color, dim, lighter);
$denary-color__dim--lightest: get-tone($denary-color, dim, lightest);
$denary-color__bright--darkest: get-tone($denary-color, bright, darkest);
$denary-color__bright--darker: get-tone($denary-color, bright, darker);
$denary-color__bright--dark: get-tone($denary-color, bright, dark);
$denary-color__bright: get-tone($denary-color, bright);
$denary-color__bright--light: get-tone($denary-color, bright, light);
$denary-color__bright--lighter: get-tone($denary-color, bright, lighter);
$denary-color__bright--lightest: get-tone($denary-color, bright, lightest);
