/**
 * Colorbooks
 *
 * Import any colorly colorbooks you use for your palette, optionally import them all (warning: will be slow)
 */
//@import "./../bower_components/colorly/scss/_colorly";
@import "./../bower_components/colorly/scss/_book-obi.scss";

/* All colors you use within your theme should be declared here */
$base-palette:
(
  blue:
  (
    dim:
    (
      darkest: obi("eucalypto-1"),
      darker: obi("eucalypto-2"),
      dark: obi("eucalypto-3"),
      base: obi("eucalypto-4"),
      light: obi("eucalypto-5"),
      lighter: obi("eucalypto-6"),
      lightest: obi("eucalypto-7")
    ),
    bright:
    (
      darkest: obi("eucalypto-8"),
      darker: obi("eucalypto-9"),
      dark: obi("eucalypto-10"),
      base: obi("eucalypto-11"),
      light: obi("eucalypto-12"),
      lighter: obi("eucalypto-13"),
      lightest: obi("eucalypto-14")
    )
  ),
  purple:
  (
    dim:
    (
      darkest: obi("aubergine-1"),
      darker: obi("aubergine-2"),
      dark: obi("aubergine-3"),
      base: obi("aubergine-4"),
      light: obi("aubergine-5"),
      lighter: obi("aubergine-6"),
      lightest: obi("aubergine-7")
    ),
    bright:
    (
      darkest: obi("aubergine-8"),
      darker: obi("aubergine-9"),
      dark: obi("aubergine-10"),
      base: obi("aubergine-11"),
      light: obi("aubergine-12"),
      lighter: obi("aubergine-13"),
      lightest: obi("aubergine-14"),
    )
  ),
  grey:
  (
    dim:
    (
      darkest: obi("kandis-1"),
      darker: obi("kandis-2"),
      dark: obi("kandis-3"),
      base: obi("kandis-4"),
      light: obi("kandis-5"),
      lighter: obi("kandis-6"),
      lightest: obi("kandis-7")
    ),
    bright:
    (
      darkest: obi("kandis-8"),
      darker: obi("kandis-9"),
      dark: obi("kandis-10"),
      base: obi("kandis-11"),
      light: obi("kandis-12"),
      lighter: obi("kandis-13"),
      lightest: obi("kandis-14")
    )
  ),
  blue-green:
  (
    dim:
    (
      darkest: obi("alovera-1"),
      darker: obi("alovera-2"),
      dark: obi("alovera-3"),
      base: obi("alovera-4"),
      light: obi("alovera-5"),
      lighter: obi("alovera-6"),
      lightest: obi("alovera-7")
    ),
    bright:
    (
      darkest: obi("alovera-8"),
      darker: obi("alovera-9"),
      dark: obi("alovera-10"),
      base: obi("alovera-11"),
      light: obi("alovera-12"),
      lighter: obi("alovera-13"),
      lightest: obi("alovera-14")
    ),
  ),
  green:
  (
    dim:
    (
      darkest: obi("avocado-1"),
      darker: obi("avocado-2"),
      dark: obi("avocado-3"),
      base: obi("avocado-4"),
      light: obi("avocado-5"),
      lighter: obi("avocado-6"),
      lightest: obi("avocado-7"),
    ),
    bright:
    (
      darkest: obi("avocado-8"),
      darker: obi("avocado-9"),
      dark: obi("avocado-10"),
      base: obi("avocado-11"),
      light: obi("avocado-12"),
      lighter: obi("avocado-13"),
      lightest: obi("avocado-14")
    )
  ),
  brown:
  (
    dim:
    (
      darkest: obi("cacao-1"),
      darker: obi("cacao-2"),
      dark: obi("cacao-3"),
      base: obi("cacao-4"),
      light: obi("cacao-5"),
      lighter: obi("cacao-6"),
      lightest: obi("cacao-7")
    ),
    bright:
    (
      darkest: obi("cacao-8"),
      darker: obi("cacao-9"),
      dark: obi("cacao-10"),
      base: obi("cacao-11"),
      light: obi("cacao-12"),
      lighter: obi("cacao-13"),
      lightest: obi("cacao-14")
    )
  ),
  red:
  (
    dim:
    (
      darkest: obi("tomato-1"),
      darker: obi("tomato-2"),
      dark: obi("tomato-3"),
      base: obi("tomato-4"),
      light: obi("tomato-5"),
      lighter: obi("tomato-6"),
      lightest: obi("tomato-7")
    ),
    bright:
    (
      darkest: obi("tomato-8"),
      darker: obi("tomato-9"),
      dark: obi("tomato-10"),
      base: obi("tomato-11"),
      light: obi("tomato-12"),
      lighter: obi("tomato-13"),
      lightest: obi("tomato-14")
    )
  ),
  yellow:
  (
    dim:
    (
      darkest: obi("citro-1"),
      darker: obi("citro-2"),
      dark: obi("citro-3"),
      base: obi("citro-4"),
      light: obi("citro-5"),
      lighter: obi("citro-6"),
      lightest: obi("citro-7")
    ),
    bright:
    (
      darkest: obi("citro-8"),
      darker: obi("citro-9"),
      dark: obi("citro-10"),
      base: obi("citro-11"),
      light: obi("citro-12"),
      lighter: obi("citro-13"),
      lightest: obi("citro-14")
    )
  ),
  orange:
  (
    dim:
    (
      darkest: obi("mandarine-1"),
      darker: obi("mandarine-2"),
      dark: obi("mandarine-3"),
      base: obi("mandarine-4"),
      light: obi("mandarine-5"),
      lighter: obi("mandarine-6"),
      lightest: obi("mandarine-7")
    ),
    bright:
    (
      darkest: obi("mandarine-8"),
      darker: obi("mandarine-9"),
      dark: obi("mandarine-10"),
      base: obi("mandarine-11"),
      light: obi("mandarine-12"),
      lighter: obi("mandarine-13"),
      lightest: obi("mandarine-14")
    )
  ),
  pink-purple:
  (
    dim:
    (
      darkest: obi("orchidee-1"),
      darker: obi("orchidee-2"),
      dark: obi("orchidee-3"),
      base: obi("orchidee-4"),
      light: obi("orchidee-5"),
      lighter: obi("orchidee-6"),
      lightest: obi("orchidee-7")
    ),
    bright:
    (
      darkest: obi("orchidee-8"),
      darker: obi("orchidee-9"),
      dark: obi("orchidee-10"),
      base: obi("orchidee-11"),
      light: obi("orchidee-12"),
      lighter: obi("orchidee-13"),
      lightest: obi("orchidee-14")
    )
  )
);