.header
{
  @include outer-container;
  .header__item
  {
    @include span-columns(1 of 3, block-collapse);
  }
}

.header__item:nth-child(1)
{
  color: $primary-color__bright--darkest;
  background-color: $secondary-color__dim--light;
  border: 5px solid $tertiary-color__dim--light;
}
.header__item:nth-child(2)
{
  color: $quaternary-color__bright--darker;
  background-color: $quinary-color__dim--light;
  border: 5px solid $senary-color-color__dim--light;
}
.header__item:nth-child(3)
{
  color: $septenary-color__bright--dark;
  background-color: $octonary-color__dim--light;
  border: 5px solid $nonary-color__dim--light;
}
body
{
  background-color: $denary-color__dim--light;
}