.nav {
  // Block
  $grid: (
    gutters: 0,
    columns: 3
  );
  @include layout($grid);
  @include container();

  // Element unique rules
  &__item {
    @include span(1);
  }
  &__item--primary {
    color: $primary-color__bright--darkest;
    background: linear-gradient($secondary-color__dim--light, $denary-color__dim--light);
    border: 5px solid $denary-color__dim--lightest;
  }
  &__item:--secondary {
    color: $quaternary-color__bright--darker;
    background-color: $quinary-color__dim--light;
    border: 5px solid $senary-color__dim--light;
  }
  &__item--tertiary {
    color: $septenary-color__bright--dark;
    background-color: $octonary-color__dim--light;
    border: 5px solid $nonary-color__dim--light;
  }
}

.ui {
  // Block
  $grid: (
    gutter-position: inside,
    gutters: 1/16,
    columns: 2
  );
  @include layout($grid);
  @include container();

  // Element shared rules
  &__overview, &__bookmark {
    @include span(2);
  }
  &__description, &__links {
    @include span(1);
  }

  // Element unique rules
  &__description {
    color: $denary-color__dim--lightest;
  }
  &__links {
    border-left: 2px solid $tertiary-color__dim--darkest;
  }
  &__bookmark {
    text-align: center;
  }
}

.ui__overview {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $tertiary-color__bright--light;
  .overview__main {
    float: right;
    color: $tertiary-color__bright--light;
  }
}

.social-links {
  // Block
  $grid: (
    gutters: 0,
    columns: 2
  );
  @include layout($grid);
  @include container();

  // Element unique rules
  &__link {
    @include span(1);
    font-size: 0.9em;
    .fa {
      color: $tertiary-color__bright--light;
    }
    a {
      &:link, &:visited, &:hover, &:active {
        color: $tertiary-color__bright--light;
      }
    }
  }
}